.textBlock {
    width: 100%;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1440px) {

    .textBlock {
        max-height: 374px;
    }

  }
  
  @media screen and (max-width: 744px) {

   .textBlock {
        margin: 5px auto 10px auto;
        max-height: 270px;
        justify-content: flex-start;
        margin-top: 0px;
    }
  

    .title {
        margin-bottom: 15px;
    }
}    

@media screen and (max-width: 375px) {
     
   .textBlock {
        max-height: 280px;
        padding-bottom: 10px;
        justify-content: space-between;
    }
  
}   